PORT = ""
NODE_ENV = ""
JWT_SECRET = "shoeshop123456"
PAYPAL_CLIENT_ID = "AbIuxufz7pvFfXAcVLjMnaa_ISUOUjlcAb_TBLHVcN04-pHDZAGSK5hYcSkyHfUJQ8s-MPAD-VVkUP3b"
MONGO_URL = "mongodb+srv://admin:admin123456@shoeshop.vjhhetu.mongodb.net/shoeDatabase?retryWrites=true&w=majority"